/* App.css */

/* Primary Color */
:root {
  --primary-color: #FFA500; /* Orange */
  --accent-color-1: #FF4C4C; /* Red */
  --accent-color-2: #00B050; /* Green */
  --accent-color-3: #0084FF; /* Blue */
  --background-color: #F5F5F5; /* Light Gray */
}

body {
  background-color: var(--background-color);
  padding-top: 0px; /* Space for the fixed navbar */
  height: 100%;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Navbar styling */
.navbar {
  background-color: #343a40; /* Dark gray background */
  transition: background-color 0.3s ease; /* Smooth transition for background color */
}

.navbar-nav .nav-item .nav-link {
  color: white;
  font-weight: bold; /* Make navbar links bold */
  transition: color 0.3s ease; /* Smooth transition for color change */
}

.navbar-nav .nav-item .nav-link:hover {
  color: var(--accent-color-3); /* Change color on hover */
  text-decoration: none;
}

.navbar-toggler {
  color: white;
  border-color: white;
}

.navbar-toggler:hover {
  color: var(--accent-color-3); /* Change color on hover */
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* Apply accent colors */
h1 {
  color: var(--accent-color-1);
}

a {
  color: var(--accent-color-2);
  text-decoration: none;
  transition: color 0.3s ease; /* Smooth transition for color change */
}

a:hover {
  color: var(--accent-color-3); /* Change color on hover */
  text-decoration: none;
}

.btn-primary {
  background-color: var(--accent-color-3);
  border-color: var(--accent-color-3);
  color: white;
  transition: background-color 0.3s ease; /* Smooth transition for background color */
}

.btn-primary:hover {
  background-color: var(--accent-color-2); /* Change background color on hover */
}

/* Additional styles for the App component */
.App-header nav a {
  color: white;
}

.App-header nav a:hover {
  color: var(--accent-color-2);
}

.selected-paper-details {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

section {
  padding-top: 80px; /* Space for the fixed navbar */
  margin-bottom: 50px;
}

footer {
  background-color: var(--primary-color);
  color: white;
  flex-shrink: 0;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

.text-justify-right {
  text-align: justify;
  text-align-last: left;
}

#home h1{
  font-weight: bold;
  color: rgb(147, 78, 78);
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.content-wrapper {
  flex: 1 0 auto;
}


